<header class="w-100">
  <div class="d-flex wrapper">
    <%= image_tag 'logo-1.png', :class => 'logo-header mx-auto' %>
  </div>
<!--  <nav class="nav-box mx-auto">
    <ul class="list-unstyled list-group">
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </nav>-->


</header>